
  
  .main-container-form {
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .form-group {
    display: flex;
    padding: 5px;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-left:10px;
  }
  
  .btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .btn-upload:hover{
    color: #126178;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .button-container {
    display: flex;
  }

  .right-margin-set {
    margin-right: 10px;
  }
  
  
  .margin {
    margin: 10px;
  }
  
  h2 {
    text-align: center;
  }

  .close-dialog-btn {
    // position: absolute;
    // right: 10%;
    // top: 0;
    // transform: translate(-50%, -50%);
    float: right;
  }

  

  