.form-group {
  display: flex;
  padding: 5px;
}

h2 {
  text-align: center;
}


.margin {
  margin: 10px;
}

.main-container-form {
  padding-left: 90px;
  padding-right: 90px;
}

.center-items {
  text-align: center;
  margin: auto;
}
